<div *ngIf="(currentModeApi$ | async).time === ModeApiValue.INPUT">
  <pevc-time-display></pevc-time-display>
  <pevc-plotter [scalarStream$] = "scalarDynamicOutput$" [tensorStream$] = "tensorDynamicOutput$"></pevc-plotter>
</div>
<div *ngFor = "let dataPiece of (tensorStaticOutput$ | async)">
  <pevc-tensor-output [tensorData]="dataPiece"></pevc-tensor-output>
</div>
<div *ngFor = "let dataPiece of (scalarStaticOutput$ | async)">
  <pevc-number-output [numericData]="dataPiece"></pevc-number-output>
</div>
