<div fxLayout="column">
  <div fxFlex = "1 1 33%" fxLayout="row" fxLayout.lt-lg="column">
    <md-card fxFlex = "1 1 100%">
      <pevc-model-settings></pevc-model-settings>
    </md-card>
  </div>
  <div fxFlex = "2 1 33%" fxLayout="row" fxLayout.lt-lg="column">
    <md-card fxFlex = "1 1 50%">
      <pevc-plate-renderer></pevc-plate-renderer>
    </md-card>
    <md-card fxFlex = "1 1 50%">
      <pevc-data-output></pevc-data-output>
    </md-card>
  </div>
  <div fxFlex = "1 1 33%" fxLayout="row" fxLayout.lt-lg="column">
    <md-card fxFlex = "1 1 100%">
      <pevc-plate-settings></pevc-plate-settings>
    </md-card>
  </div>
</div>
