<div fxLayout="column">
  <div fxFlex = "1 1 33%" fxLayout="row" fxLayout.lt-lg="column">
    <md-card fxFlex = "1 1 100%">
      <pevc-model-settings></pevc-model-settings>
      <!--<pz-model-settings></pz-model-settings>-->
    </md-card>
  </div>
  <div fxFlex = "2 1 33%" fxLayout="row" fxLayout.lt-lg="column">
    <md-card fxFlex = "1 1 50%">
      <pevc-plate-renderer></pevc-plate-renderer>
      <!--<pz-plate-renderer></pz-plate-renderer>-->
    </md-card>
    <md-card fxFlex = "1 1 50%">
      <pevc-plate-settings></pevc-plate-settings>
      <!--<pz-plate-parameters></pz-plate-parameters>-->
    </md-card>
  </div>
  <div fxFlex = "1 1 33%" fxLayout="row" fxLayout.lt-lg="column">
    <md-card fxFlex = "1 1 100%">
      <pevc-data-plotter></pevc-data-plotter>
      <!--<pz-data-plotter flex></pz-data-plotter>-->
    </md-card>
  </div>
</div>
